
 body {
    font-family : 'Raleway', sans-serif;
    margin: 0;
}
    h3 {
        color: black;
    }

    p {
        color: black;
    }

    a {
        text-decoration: none;
    }
.header {
    padding-left: 25px;
    padding-right: 25px;
}

    .navHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .reservia {
        width: 100px;
    }

    .navlinks {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 35%;
        height: 100px;
    }

    .navlinksHeberge {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        height: 100px;
    }

    .navLinksli {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        font-weight: bold;
        width: 55%;
        height: 97px;
        border-top: 3px solid #0065FC;
    }

    .lienIscrire {
        color:  #0065FC;
        font-weight: bold;
    }

    .navLinksliActiv {
        color: black;
    } 

    .navlinks a:hover {
        font-style: italic;
    }

/* ----------Search et Filtre------------------------ */
.searSection {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
}

    .search {
        display: flex;
        flex-direction: column;
    }
    .searchbar {

    display: flex;
    width: 400px;
    }

    .maps {
        height: 50px;
        width: 50px;
        background-color: #F2F2F2;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px 0 0 15px;
    }

    .placeholder {
        height: 50px;
        width: 200px;
        font-size: 18px;
        color: black;
        font-weight: bold;
        border: 1px solid #efe0e085;
    }

    .research {
        display: flex;
        align-items: center;
        align-content: center;
        width: 25%;
        background-color: #0065FC;
        color: white;
        border-radius: 0px 15px 15px 0;

    }

    .search2 {
        display: none;
    }

    /*  Filtre  */
.DivFiltre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px
}

    .TitreFiltre {
        margin-right: 20px;
    }

    .oneFiltre {
        display: flex;
    }

    .twoFiltre {
        display: flex;
    }

    .itFiltre {
        border: 4px solid #F2F2F2;
        height: 40px;
        border-radius: 30px;
        margin-right: 15px;
        display: flex;
    }

    .icon {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        color:  #0065FC;
        background-color: #DEEBFF;
        display: flex;
        align-items: center;
        justify-content: center;     
    }

    .filtre {
        padding-top: 8px; 
        margin: 6px;
        font-weight: bold;
    }

    .filtre:hover {
        color: magenta;
    }

    .Divicon:hover {
        background: black;
    }

    .pluslogements {
        display: flex;
    }

    .infologe {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        margin-right: 10px;
        margin-top: 5px;
        border-radius: 20px;
        width: 25px;
        height: 25px;
        border: 4px solid #F2F2F2;
    }

/* ----------- Hébergements et les plus populaires ------------------ */

#heberge {
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
}

    #hebergeMarseille {
        background-color: #F2F2F2;
        width: 70%; 
        height: 700px;
        margin-right: 20px;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

       /* Bloc1 */
        .blocHeberge {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .articleBloc {
            background-color: white;
            width: 30%;
            height: auto;
            border-radius: 20px;
            box-shadow:1px 5px 5px 5px #d6dad085;
        }
        .articleBloc:nth-child(4) {
            margin-top: 20px;
        }

        .articleBloc:nth-child(5) {
            margin-top: 20px;
        }

        .articleBloc:nth-child(6) {
            margin-top: 20px;
        }

        /* containerH, infoheberge et afficherplus */
        .containerH {
            padding: 5px 5px 0px 5px;
        }

        .infoheberge {
            width: 90%;
            padding-left: 10%;
        }

        .afficherplus {
            color: black;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /*  image Hébergement  */
        .imgheberge {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 120px;
        }

   /* ------ les plus populaires ------  */
#populaire {
    background-color: #F2F2F2;
    width: 30%;
    height: 700px;
    margin-left: 20px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.totalpopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
    .articlePopulaire {
        display: flex;
        background-color: white;
        border-radius: 20px;
        box-shadow: 1px 5px 5px 5px #d6dad085;
    }

        .linkPopulaire {
            display: flex;
        }

        .containerP {
            width: 45%;
            height: auto;
            padding: 5px;
        }

        .infopopulaire {
            width: 50%;
            height: auto; 
            padding-left: 10px;
        }

        .titrepopulaire {
            display: flex;
            justify-content: space-between;  
        }

        .chart {
            display: flex;
            align-items: center;
        }

        .imgPopulaire {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 0 0 15px;
            width: 100%;
            height: 150px;
        }

        /* Stars */
    .etoileBleue {
        color: #0065FC;
    }

    .etoileGrise {
        color: #F2F2F2;
    }

    .star {
        height: 30px;
    }

    .starPopu {
        padding-top: 15px;
    }

/* ------------------Activity------------------------------- */
#activity {
    display: flex;
    flex-direction: column;
    height: 750px;
    margin-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

    .globalblocActivity {
        display: flex;
        justify-content: space-between;
        height: 650px;
    }
        .blocActivity {
            display: flex;
            justify-content: space-between;
            width: 48%;
            height: 600px;
        }

        .activitybig {
            width: 50%;
            border-radius: 15px;
            box-shadow: 1px 5px 5px 5px #f2f2f2; ;
        }

        .blocActivityduo {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .activitysmall {
            border-radius: 15px;
            box-shadow: 1px 5px 5px 5px #f2f2f2; ;
        }

        .activityPhoto1 {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 500px;
        }

        .activityPhoto2 {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 230px;
        }

        .activityPhoto3 {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 130px;
        }

        .activityPhoto4 {
            object-fit: cover;
            background-position: center;
            border-radius: 15px 15px 0 0;
            width: 100%;
            height: 200px;
        }

        .infoActivity {
            height: 70px;
            display: flex;
            justify-content: flex-start;
            width: 90%;
            padding-left: 10%;
        }

/*-------------Footer---------------- */
#footer {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    width: 100%;
    height: auto; 
}

    .divfooter {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        padding-bottom: 20px;
        margin-right: 200px; 
    }

        .apropos, .loge, .assiste {
        display: flex;
        flex-direction: column;
        }

        .footerlink {
            margin: 5px;
            color: black;
        }

        .footerlink:hover {
            text-decoration: underline;
        }

/*--------------- Media queries Mobile ----------------*/
 @media screen and (max-width: 680px) 
 {
     .header {
         width: 100%;
         padding: 0;
     }

        .navHeader {
            flex-direction: column;
            align-items:baseline ;
            border-bottom: 3px solid #F2F2F2;
        }

        .navLogo {
            margin-left: 20px;
        }

        .navlinks {
            width: 100%;
        }

        .navlinksHeberge {
           width: 100%; 
           justify-content: space-between;
        } 

        .navLinksli {
            width: 60%;
            border-bottom: 3px solid #0065FC;
            border-top: none;
        }

        .navlinksActivity {
            margin-left: 60px;
        }

        .inscrire {
            width: 20%;
            float: left;
            margin: 0;
        }

        .lienIscrire {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        .searchbar {
            justify-content: center;
            width: 100%;
            border: 1px solid #efe0e085;
            border-radius: 20px;
        }

        .placeholder {
            width: 80%;
            border: 1px solid #efe0e085;
        }
        .research {
            width: 12%;
            border-radius: 15px;
        }

        .search1 {
            display: none;
        }
 
        .search2 {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 100%;
         width: 100%;
        }

        .DivFiltre {
            flex-direction: column;
            align-items: baseline;
        }

        .twoFiltre {
            flex-direction: column;
        }

        .itFiltre {
            margin-top: 20px;
        }

        .twoFiltre .itFiltre:nth-child(1) {
            width: 70%;
        }
        
    #heberge {
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;

    }

        #hebergeMarseille {
            width: auto;
            height: auto;
            padding: 0;
            margin: 0;
            background-color: white;
        }

            .titreHeberge {
                margin-left: 25px;
            }

            .blocHeberge {
                flex-direction: column;
                flex-wrap: nowrap;
                height: auto;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }

            .articleBloc {
                width: 90%;
                margin-bottom: 5%;   
            }

            .afficherplus{
                padding: 25px 0 0 0;
                margin-left: 25px;
            }

        #populaire {
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .titrepopulaire {
                width: 100%;
            }

            .h2populaire {
                margin-left: 25px;
            }

            .chart {
                margin-right: 25px;
            }

            .totalpopulaire{
                align-items: center;
            }
            .articlePopulaire {
                width: 90%;
                margin-top: 0;
            } 
            
    #activity {
        width: 100%;
        height: 1800px;
        padding: 0;
    }

        .titreActivity {
            margin-left: 25px;
        }

        .globalblocActivity {
            flex-direction: column;
            width: 100%;
            height: 1720px;
        }

            .blocActivity {
                flex-direction: column;
                width: 100%;
                height: 50%;
                align-items: center;
            }
            
            .activitybig {
                width: 90%;
                height: 250px;
                margin-top: 25px;
            }

            .activityPhoto1, .activityPhoto2, .activityPhoto3, .activityPhoto4 {
                height: 150px;
            }

            .blocActivityduo {
                width: 100%;
                align-items: center;

            }

            .activitysmall {
                width: 90%;
                height: 250px;
                margin-bottom: 28px;
            }

    #footer {
        width: 100%;
        height: auto;
    }

        .divfooter {
            flex-direction: column;
            margin: 0;
        }
 }  

/* --- Media queries Tablet ---- */
@media screen and (min-width: 681px) and (max-width: 1225px) {
   
    .header {
        width: 100%;
        padding: 0;
    }

        .navHeader {
            flex-direction: column;
            align-items:baseline ;
            border-bottom: 2px solid #F2F2F2;
        }

            .navLogo {
                margin-left: 7%;
            }   

            .navlinks {
                width: 100%;
            }

            .navlinksHeberge {
                width: 100%; 
                justify-content: space-between;
             } 
     
            .navLinksli {
                width: 60%;
                border-bottom: 3px solid #0065FC;
                border-top: none;
            }

            .inscrire {
                width: 20%;
                float: left;
                margin: 0;
            }

            .lienIscrire {
                position: absolute;
                top: 0;
                padding-top: 20px;
            }
    .searSection {
        width: 91%;
        margin-left: 8%;
        padding: 0;
    }

       .filtre {
           display: flex;
           align-items: center;
       }

       .itFiltre {
        margin-top: 20px;
       }

       .infologe {
           margin-top: 1%;
       }

   #heberge {
       flex-direction: column-reverse;
       width: 100%;
       padding: 0;

   }

       #hebergeMarseille {
           width: 100%;
           height: auto;
           padding: 0;
           margin: 0;
           background-color: white;
       }

           .titreHeberge {
               margin-left: 10%;
           }

           .blocHeberge {
               flex-direction: column;
               flex-wrap: nowrap;
               height: auto;
               width: 100%;
               justify-content: center;
               align-items: center;
           }

           .articleBloc {
               width: 80%;
               margin-bottom: 5%;   
           }

           .containerH {
               height: 60%;
           }

           .imgheberge {
            height: 271px;
           }

           .star {
               margin-bottom: 2%;
           }

           .afficherplus{
               padding: 25px 0 0 0;
               margin-left: 10%;
           }

       #populaire {
           margin: 0;
           padding: 0 0 20px 0;
           width: 100%;
           height: auto;
       }

           .titrepopulaire {
               width: 100%;
           }

           .h2populaire {
               margin-left: 10%;
           }

           .chart {
               margin-right: 10%;
           }

           .totalpopulaire{
               align-items: center;
               height: 900px;
           }
           .articlePopulaire {
               margin-top: 0;
               width: 80%;
               height: 30%;
           } 
           
           .imgPopulaire {
               height: 100%;
           }

   #activity {
       width: 100%;
       height: auto;
       padding: 0;
   }

       .titreActivity {
           margin-left: 10%;
       }

       .globalblocActivity {
           flex-direction: column;
           width: 100%;
           height: auto;
       }

           .blocActivity {
               flex-direction: column;
               width: 100%;
               height: 50%;
               align-items: center;
           }
           
           .activitybig {
               width: 80%;
               height: 30%;
               margin-top: 25px;
               margin-bottom: 20px;
           }

           .activityPhoto1, .activityPhoto2, .activityPhoto3, .activityPhoto4 {
               height: 329px;
           }

           .imageActivity {
               height: 70%;
           }

           .infoActivity {
               height: 30%;
           }

           .blocActivityduo {
               width: 100%;
               align-items: center;

           }

           .activitysmall {
               width: 80%;
               height: 30%;
               margin-bottom: 28px;
           }

   #footer {
       width: 100%;
       height: auto;
   }

       .divfooter {
           flex-direction: column;
           margin: 0;
       }
}